# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.env
*.ipynb
*.mp3
*.wav
*.webm

# Other folders
testing
*.rtf

# Other common exclusions
*.tmp
*.temp
*.bak
*.backup