# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.env
*.ipynb

# API directory specific
./api/audio_files/*  # Assuming this is where audio files are stored
./api/.env  # If you have environment files you want to exclude

# Other folders
testing
*.rtf

# Other common exclusions
*.tmp
*.temp
*.bak
*.backup