# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.env
*.ipynb

# API directory specific
/audio_files/*
/.env
/audio_files/*  

# Other folders
testing
*.rtf

# Other common exclusions
*.tmp
*.temp
*.bak
*.backup